{% extends "base.html" %}

	{% block content %}
        <h2>{{title}}</h2>
        <p>Yassine Ibhir 1612502</p>
        <p>This course focuses on web server using python and django</p>
    {% endblock %}