{% extends "base.html" %}

	{% block content %}
        <h2>Contact Info</h2>
        <ul>
          <li>name: Yassine Ibhir </li>
          <li>id: 1612502  </li>
          <li>lb@gmail.com</li>
          <li>phone: 5143245151</li>
          <li>address: 42 the boulevard</li>
        </ul>
    {% endblock %}