{% extends "base.html" %}

	{% block content %}

        <h2> All Responsible</h2>
        <section class="task-containers">
        {% if responsible_list %}

            {% for resp in responsible_list %}
                <div class="t-container">
                    <p>{{resp.first_name}} {{resp.last_name}}</p>
                    <p>{{resp.email}}</p>
                </div>

            {% endfor %}
        </section>
        <section class="pages-content">

                {% if is_paginated %}

                     <span >
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}....
                     </span>

                     {% if page_obj.has_previous %}
                            <span><a href="?page={{ page_obj.previous_page_number }}"><=Previous</a></span>
                     {% endif %}
                     {% if page_obj.has_next %}
                            <span><a href="?page={{ page_obj.next_page_number }}">Next=></a></span>
                     {% endif %}

                {% endif %}

        </section>

         {% else %}
            <p>No Responsible Available</p>
         {% endif %}

{% endblock %}
