{% extends "base.html" %}

	{% block content %}
        <h2>Task Details</h2>
        <div class="detail-container">
            <div class="task-name">
                <span>Task Name : {{object.taskName}}</span>
                <span class="date-container">
                    <span>Starts :{{object.start_date }}</span>
                    <span>Ends : {{object.end_date  }}</span>
                </span>

            </div>

            <span>Description : {{object.taskDesc}}</span>
            <span>Responsible Email: {{object.responsible }}</span>
        </div>


    {% endblock %}