
<!DOCTYPE HTML>
<html lang="en-CA">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="menu bar">
		<meta name="author" content="Yibhir">
		{% load static %}
	<link 	rel ="stylesheet"
		  	type="text/css"
		  	href="{% static 'css/mystyles.css' %}">

	  <title>{{title}}</title>

	</head>
	<body>
		<header>
			<nav>
				<ul>

					<li><a class="main_urls" href="{% url 'home' %}" title="home">Home</a></li>
					<li><a class="main_urls"  href="{% url 'about' %}" title="About">About</a></li>
					<li><a class="main_urls"  href="{% url 'responsible-list' %}" title="Responsible">List Responsibles</a></li>
					<li><a class="main_urls"  href="{% url 'task-list' %}"title="tasks"> List Tasks</a></li>
					<li><a class="main_urls"  href="{% url 'contact' %}" title="Contact">Contact</a></li>

				</ul>
			</nav>
			<span>Yassine Ibhir</span>

		</header>

		<main class="content">
			{% block content %}

			{% endblock%}
		</main>
	<footer class="footer">
		<p>Yassine Ibhir 1612502 <a class="main_urls"  href="">Git link</a></p>

		<p>&copy; Copyright 2021 @<a class="main_urls"  href="https://www.dawsoncollege.qc.ca/">Dawson</a></s></p>

	</footer>
	</body>
</html>