
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300&display=swap');
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
  font-weight : bold;
  min-width:1000px;
}
h2 {
    width: 100%;
    text-align:center;
}
.content {
  flex: 1 0 auto;
  margin-top: 4px;
}
.footer {
    flex-shrink: 0;
    background-color : #B0C4DE;
    display : flex;
    justify-content :  space-between;
    align-items : center;
    width : 100%;
    color : #131921;
    font-weight : bold;
}


header{
    background-color:#B0C4DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color:#131921;
    font-weight : bold;
}

ul {
list-style: none;
}
li,span{
    display: inline-block;
    padding : 0px 20px;
    margin: 2px;
}


.main_urls{
 text-decoration: none;
 cursor : pointer;
 padding: 0.2em;
 border-bottom: 1px solid #008080;
 color:#131921;
}
a:hover{
    color: #008080;
}

a {
    text-decoration: none;
    cursor : pointer;
}
.date-container{display: flex;justify-content:space-between;flex-direction:column;align-items: center;}
.detail-container{width :60%; border: 1px solid  #008080; border-radius: 0.9em;margin:auto; display: flex;flex-direction:column;justify-content:space-between;align-items: center;}
.task-containers{ margin: auto; display: flex; flex-wrap: wrap; justify-content:stretch;align-items: center;}
.t-container{max-width: 280px;width:280px;max-height: 150px;height: 150px; margin:10px; padding: 5px;border: 1px solid #B0C4DE; display: flex; flex-direction:column; justify-content:space-between;align-items: center;overflow: auto;}

main{
    min-height: 100%;

}
/**footer{
    background-color : #B0C4DE;
    display : flex;
    justify-content :  space-between;
    align-items : center;
    width : 100%;
    bottom : 0;
    fixed : fixed;
    color : #131921;
    font-weight : bold;

}**/
